@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background: #0B1125;
  color: #fff;
}

:root {
  --side-menu-width: 150px;
  --header-height: 88px;
}

body > nextjs-portal,
[data-nextjs-dialog],
[data-nextjs-toast] {
  display: none !important;
}
