@import 'tailwindcss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background: #0b1125;
  color: #fff;
}

:root {
  --side-menu-width: 150px;
  --header-height: 88px;
}

body > nextjs-portal,
[data-nextjs-dialog],
[data-nextjs-toast] {
  display: none !important;
}

@media (min-width: 1700px) {
  .xxl-row {
    flex-direction: row !important;
  }

  .xxl-col {
    flex-direction: column !important;
  }
}

@media (max-width: 1699.98px) {
  .xxl-mt {
    margin-top: 24px !important;
  }

  .classification-xxl-w {
    width: 700px !important;
  }
}
